<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awerness Details</title>
</head>
<body>
    <h1>Awerness Details</h1>

    <body>
        <h1>Awerness Details</h1>
    
        {% if awerness_details %}
            {% for entry in awerness_details %}
                <p>ID: {{ entry[0] }}</p>
                <p>Category ID: {{ entry[1] }}</p>

            {% endfor %}
        {% else %}
            <p>No details found.</p>
        {% endif %}
    
        <a href="{{ url_for('awerness_admin') }}">Back to Awerness Admin</a>
</body>
</html>
