<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awerness Details</title>
</head>
<body>
    <h1>Awerness Details</h1>

    {% if awerness_details %}
        {% for entry in awerness_details %}
            <p>ID: {{ entry[0] }}</p>
            <p>Category ID: {{ entry[1] }}</p>
            
            <form id="updateForm" data-awerness-id="{{ entry[0] }}">

                <label for="new_mark">New Mark:</label>
                <input type="number" name="new_mark" id="new_mark" value="{{ entry[11] }}" required>
                <b<button type="button" onclick="updateMark('{{ entry[0] }}')">Update Mark</button>
            </form>

        {% endfor %}
    {% else %}
        <p>No details found.</p>
    {% endif %}

    <a href="{{ url_for('awerness_admin') }}">Back to Awerness Admin</a>

    <script>
        function updateMark(awernessId) {
    var newMark = document.getElementById('new_mark').value;

    fetch('/update_mark/' + awernessId, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: 'new_mark=' + newMark,
    })
    .then(response => {
        if (response.ok) {
            // Optionally, you can update the UI to reflect the change
            alert('Mark updated successfully!');
        } else {
            alert('Error updating mark');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Error updating mark');
    });
}

    </script>
</body>
</html>
